.about {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.about-container {
  max-width: 700px;
  text-align: justify;
  text-align-last: left;
  font-family: 'Poppins', monospace;
}

.about-container h2 {
  font-size: 2rem;
  text-align: center;
  text-align-last: center;
  font-family: 'Poppins', monospace;
  font-weight: 600;
  color: #fefefe;
}

.about-header {
  opacity: 0;
  transition: opacity 0.7s ease;
}

.about-header.fade-in {
  opacity: 1;
  animation: fadeIn 0.7s ease;
}

.about-description {
  opacity: 0;
  transition: opacity 0.7s ease;
}

.about-description.fade-in {
  opacity: 1;
  animation: fadeIn 0.7s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about-container p {
  font-size: 1rem;
  line-height: 1.7;
  color: #cccccc;
  font-weight: 400;
}
