.section-link {
  margin-top: 2rem;
  font-family: 'Poppins', monospace;
  font-size: 0.9rem;
  color: var(--accent-color-2);
  cursor: pointer;
  text-align: right;
  font-weight: 600;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.section-link.float-in-up {
  opacity: 1;
  transform: translateY(0);
}

.section-link a:hover {
  color: var(--accent-color-2);
  text-decoration: underline;
}

.section-link a {
  color: inherit;
  text-decoration: none;
}

.section-link-arrow {
  transition: transform 0.2s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.section-link a:hover .section-link-arrow {
  transform: translateX(4px);
}
