.banner-cosplay {
  position: absolute;
  left: 70%;
  bottom: 0;
  transform-origin: center bottom;
  display: block;
  z-index: 2;
  pointer-events: none;
}

.banner-cosplay-img {
  display: block;
  width: auto;
  max-width: none;
  height: auto;
}

.banner-cosplay {
  will-change: transform;
}
