.home-filter-tabs-container {
  justify-content: center;
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
}

.home-filter-tabs {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100vw;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
}

.home-filter-tab {
  font-family: 'StretchPro-Regular', sans-serif;
  font-size: 0.85rem;
  padding: 0.5rem 2rem;
  border: 3px solid black;
  background-color: white;
  color: #000;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transform: skew(-20deg);
  flex: 0 0 auto;
}

.home-filter-tab span {
  display: inline-block;
  transform: skew(20deg);
}

.home-filter-tab:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.home-filter-tab.active {
  background-color: var(--accent-color);
  color: #fff;
}
