.description {
  opacity: 0;
  transform: translateY(40px);
}

.description.float-in-up {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.description p {
  font-family: 'Poppins', monospace;
  color: #ccc;
  max-width: 600px;
  font-size: 0.9rem;
  text-align: justify;
  text-align-last: left;
  line-height: 1.7;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
