.home-projects {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 10%;
  padding-right: 10%;
}

.home-projects-title {
  font-family: 'StretchPro-Regular', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.home-projects-title.float-in-up {
  opacity: 1;
  transform: translateY(0);
}

/* Projects Card */

.home-projects-cards {
  font-family: 'Poppins', monospace;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

.home-projects-card {
  border-radius: 8px;
  width: 280px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12), 0 1.5px 6px 0 rgba(0, 0, 0, 0.08);
  transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.home-projects-card:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.home-projects-card img {
  width: 280px;
  height: 280px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.home-projects-card-framework {
  font-size: 0.7rem;
  font-weight: 500;
  color: #555555;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}

.home-projects-card-title {
  font-size: 1rem;
  font-weight: 700;
  color: #1e1e1e;
  text-transform: uppercase;
}

.home-projects-card-metadata {
  padding: 0.6rem 1rem;
}
