.home-projects {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 10%;
  padding-right: 10%;
}

.home-projects-title {
  font-family: 'StretchPro-Regular', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.home-projects-title.float-in-up {
  opacity: 1;
  transform: translateY(0);
}
