.projects-root {
  margin-top: 6rem;
  padding-left: 10%;
  padding-right: 10%;
}

.projects-root h1 {
  font-family: 'StretchPro-Regular', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}
