.socials {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.social img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.social img:hover {
  transform: scale(1.1);
  filter: brightness(0) saturate(100%) invert(44%) sepia(72%) saturate(749%) hue-rotate(176deg) brightness(140%) contrast(87%);
}
