/* Cosplay Card */

.home-cosplay-card-img-wrapper {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.home-cosplay-card-blur-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  pointer-events: none;
  z-index: 2;
  backdrop-filter: blur(6px);
  display: flex;
  align-items: flex-end;
}

.home-cosplay-card-blur-color {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  opacity: 0.5;
  z-index: 3;
  pointer-events: none;
  border-radius: 0 0 12px 12px;
}

.home-cosplay-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  pointer-events: none;
  z-index: 3;
}

.home-cosplay-card-title {
  font-family: 'UAV-OSD-Mono-Regular', sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
  color: #fff;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.home-cosplay-card-date {
  font-family: 'Poppins', monospace;
  font-size: 0.7rem;
  color: #eee;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.home-cosplay {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 10%;
  padding-right: 10%;
}

.home-cosplay hr {
  margin-bottom: 4rem;
  opacity: 0.2;
}

.home-cosplay h2 {
  font-family: 'StretchPro-Regular', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}

.home-cosplay p {
  font-family: 'Poppins', monospace;
  color: #ccc;
  max-width: 600px;
  font-size: 0.9rem;
  text-align: justify;
  text-align-last: left;
  margin-bottom: 3rem;
}

.home-cosplay-card {
  width: 350px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
}

.home-cosplay-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s cubic-bezier(0.4, 0.2, 0.2, 1);
  will-change: transform;
  display: block;
}

.home-cosplay-card:hover img {
  transform: scale(1.18);
  z-index: 2;
}

.home-cosplay-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: start;
}
