html,
body,
#root {
  overflow-x: hidden;
}

.App {
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'ChettaVissto-Regular';
  src: url('./assets/fonts/ChettaVissto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
