html,
body,
#root {
  overflow-x: hidden;
}

.App {
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'ChettaVissto-Regular';
  src: url('./assets/fonts/ChettaVissto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StretchPro-Regular';
  src: url('./assets/fonts/StretchPro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UAV-OSD-Mono-Regular';
  src: url('./assets/fonts/UAV-OSD-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --accent-color: #9900ff;
}
